<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Zachary Kazanski">

    <title>Kazanski Poll</title>
    <link rel="shortcut icon" href="/static/img/k.png" />

    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" charset="utf-8">
        MSG_NAME = "{{ msg_name }}";
        NAMESPACE = "{{ namespace }}";
        MAP_DATA = {{ map_data|safe }};
    </script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Kazanski Poll</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 id="candidate-name"></h2>
                    <center>
                        <table class="legend-table">
                            <tr>
                                <td colspan="3"><div class="legend"></div></td>
                            </tr>
                            <tr>
                                <td>Low</td>
                                <td><center><i>Approval</i></center></td>
                                <td>High</td>
                            </tr>
                        </table>
                    </center>
                    <center><div id="map-container"></div></center>
                    <div style="display: none" class="recent-tweet">
                        <h6>Most Recent Tweet</h6>
                       <div class="row">
                            <div class="col-xs-2 tweet-name"></div>
                            <div class="col-xs-1 tweet-state"></div>
                            <div class="col-xs-1 tweet-sentiment"></div>
                            <div class="col-xs-8 tweet-msg"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- candidate-container is the React target. -->
                    <div id="candidate-container"></div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-xs-12">
                        <a name="about"></a>
                        <h3>About</h3>
                        <p>The <strong>Kazanski Poll</strong> is a realtime opinion mining suite that detects the overall sentiment of twitter users from every state in the USA.   It is currently in BETA where I am testing the accuracy of our sentiment algorithm and testing the reliability of the twitter streaming API.
                        Currently, I am using a combination of the  <a href="https://github.com/cjhutto/vaderSentiment">vaderSentiment</a> and the <a href="https://textblob.readthedocs.org/en/dev/">TextBlob</a> packages.  For the next test I will use a <a href="http://www.github.com/Kazanz/sasa-tool">fork of Google's Sasa-tool</a>
                        <br><br>
                        The sofware combrises of two micro-applications: The front end web service built in <a href="http://flask.pocoo.org/">Flask</a> and the sentiment analysis application written python.  The ALPHA version originally used a combination of <a href="http://redis.io/topics/pubsub">redis' pubsub</a> feature and websockets via <a href="http://socket.io/">socket.io</a> to communicate between the sites two seperate pieces. I have opted against continuing the feature as the only practical purpose was displaying the most recent tweet.  This small feature didn't justifying the use, so in the current version every page load will load the new data.<br>
                        The twitter app uses Twitter's streaming API to look at tweets about presidential candidates. 
                        When a match is detected the tweet is analyzed using the <a href="https://en.wikipedia.org/wiki/Sentiment_analysis" target="_blank">sentiment analysis</a> algorithms mentioned above ranking overall sentiment of the tweet from 0 - 100 (0 being completely negative, 100 being completely positive) and detects the state where that user is located.
                        The overall sentiment for a state is then calculated by taking the mathematical average of all tweet's sentiments from that state.
                        A candidates overall national sentiment is also calculated by multiplying the average sentiment of each state by that state's number of tweets
                        then the sums are added together and divided by the total number of tweets for that candidate.  This produces the overall national sentiment towards a particular candidate.
                        By observing the highest sentiment in a particular state as well as the number of tweets one may accurately predict who will win elections in each of the states.
                        <br>
                        <br>
                        I will collect data for 1 Month (until November 24th) and will analyze the collected data to judge the shortcomings of the current sentiment algorithm.
                        In future releases adjustments to the sentiment algorithm will be made.  I will have a the server take snapshots of each candidates sentiment in each state at the end of the day.  Using this data we will make line charts of the sentiment change for each candidate in each state over time. 
                        Other modifications I am researching are migrating the web application to a non-python framework to help prepare for future async capabilities, and to filter statistically nuetral tweets (between approx. 45-55) into a new category that can be combined and removed from the chart.  
                        I have two reasons for ignoring nuetral tweets: 1. Nuetral tweets are important to a candidate as they may represent a population that could be swayed either direction.  2. Tweets that are nuetral tend to be from news outlets or links to news outlets (Perhpas tweets buy major news outlets should be there own seperate category as well.) 
                        </P>

                        <a name="contact"></a>
                        <h3 id="contact">Contact</h3>
                        <p>Have a suggestion on how to improve this application?</p>
                        <p>Email: <strong>Kazanski.Zachary@gmail.com</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        Copyright &copy; Zachary Kazanski 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <center><i class="fa fa-arrow-up"></i></center>
        </a>
    </div>

</body>

</html>
